* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 15%; 
}


body {
    background-color: #002222;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background-color: #004242;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 100;
    position: fixed;
}

.navbar .webname a {
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: #00CED1;
    margin-left: 50px;
}

.navbar .nav-links {
    list-style-type: none;
    display: flex;  
    margin-right: 30px;
    transition: all 0.3s ease;
}

.nav-links a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #00CED1;
    margin-right: 30px;  
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #008B8B;  
}

/* Main */
main {
    color: #00CED1; 
}

/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #00CED1;
    margin-right: 30px;
    transition: all 0.3s ease;
}

/* Home Section */
#home-section {
    background-color: #002222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:  200px;
    margin-left: 200px;
    margin-top: 200px;
    margin-bottom: 130px;
}

.upper-intro {
    font-size: 40px;
    font-weight: bold;
}

.home h1 {
    font-size: 100px;
}

.lower-intro {
    font-size: 20px;
    color: #FFFF;
}

.download-cv-btn {
    background-color: #004242;
    color: #FFFF;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    box-shadow: 2px 2px #00CED1;
    border-radius: 5px;
    text-decoration: none; 
    display: inline-block; 
    text-align: center;
    vertical-align: middle;
}

.download-cv-btn:hover {
    cursor: pointer;
    background-color: #008B8B;
    color: #FFFF;
    border: none;
    box-shadow: 2px 2px #FFFF;
}

.profile-pic-1 img {
    width: 350px; 
    height: 350px; 
    border-radius: 50%;
    object-fit: cover; 
    border: 5px solid #00CED1;
    box-shadow: 0 4px 8px rgba(0, 206, 209, 0.3);
}

#about-section {
    background-color: #004242;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.profile-pic-2 {
    flex: 1;
    display: flex;
    justify-content: center; 
    margin-left: 100px; 
}
.profile-pic-2 img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: -5px 5px #00CED1;
}

.personal-details {
    flex: 2;
    margin-left: 10px;
    margin-right: 100px;
    text-align: left;
}

.personal-details h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #00CED1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.personal-details p {
    color: #FFFF;
}

.personal-details h2 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #00CED1;
}

.list-item {
    display: flex;
    justify-content: space-between;
    width: 60%;
    line-height: 1.5;
}

.list-item .title h4 {
    font-weight: bold;
    color: #FFFF;
    margin-right: 20px;
}

.list-item .info p {
    font-weight: normal;
    color: #FFFF;
}


/* Project Section */
#project-section {
    padding: 50px 0;
}

#project-section h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #00CED1;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

#project-section .system {
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
}

.swiper {
    width: 80%;
}

.swiper-slide {
    padding: 20px 20px;
}

.content-card {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    border: 2px solid #00CED1;
    background-color: #004242;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.content-card:hover {
    transform: scale(1.01);
    box-shadow: 0 1px 5px #00CED1;
  
}

.project-box {
    text-align: center;
}

.project-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.project-box h4 {
    font-size: 1.25rem;
    color: #00CED1;
    font-weight: bold;
    margin: 10px 0;
}

.project-box h5 {
    font-size: 1rem;
    color: #FFFF;
    margin-bottom: 10px;
}

.project-box p {
    font-size: 0.95rem;
    line-height: 1.4;
    color: #d7d7d7;
}

.tap-view { 
    margin-top: 0;
    font-size: small !important;
    font-style: italic;
    color: #00CED1 !important;
}

.design, .photographs, .videography {
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    color: #FFFFFF;
}

.photographs-descript {
    font-size: 15px;
    text-align: center;
    font-style: italic;
    margin: 15px;
}

.videography-descript {
    font-size: 15px;
    text-align: center;
    font-style: italic;
    margin: 15px;
    line-height: 2.0;
}

.view-sample-link {
    font-size: 1rem;
    color: #FFFF;
    text-decoration: underline;
    transition: color 0.3s ease;
    text-align: center;
    cursor: pointer;
}

.view-sample-link:hover {
    color: #00CED1;
}

/* Skills Section */
#skills-section {
    padding: 50px 0;
    color: #00CED1;
}

#skills-section .skills-heading {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #00CED1;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-item {
    background-color: #003333;
    border: 2px solid #00CED1;
    padding: 20px 0;
    border-radius: 10px;
    margin: 10px 20px;
    text-align: center;
    display: inline-block;
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-item:hover {
    transform: scale(1.01);
    box-shadow: 0 1px 5px #00CED1;
}

.skill-item i {
    font-size: 30px;
    margin-bottom: 10px;
    color: #00CED1;
}

.skill-item h3 {
    font-size: 13px;
    color: #FFFFFF;
}

/* Contact Section */
.contact {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004242;
}

.contact-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #00CED1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    text-align: left;
    padding: 0 60px;
}

.info-item {
    margin-bottom: 40px;
}

.info-item i {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #00CED1;
}

.info-item h2 {
    font-size: 1.1rem;
    margin-bottom: 8px;
    color: #00CED1;
}

.info-item p {
    color: #FFFFFF;
}

/* Contact Form */
.contact-form {
    width: 100%;
    padding: 40px 100px;
    background-color: #002222;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 60px;
    text-align: left;
}

.contact-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.contact-form p {
    font-size: 12px;
    margin-bottom: 5px;
    color: #e0e0e0;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #ffffff;
    color: #333;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #004242;
    outline: none;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #004242;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #008B8B;
    color: #FFFF;
}

/* Social Links Section */
#social-links {
    padding: 50px 0;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-links-container {
    max-width: 1000px;
    margin: 0 auto;
}

#social-links h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #00CED1;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.social-icon {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #e0e0e0;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-icon i {
    margin-right: 10px;
    font-size: 1rem;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    color: #FFFFFF;
    transform: translateY(-5px);
}

.social-icon:hover i {
    transform: rotate(15deg);
}

.social-icon.instagram:hover {
    background-color: #e1306c; 
}

.social-icon.twitter:hover {
    background-color: #14171A;
}

.social-icon.facebook:hover {
    background-color: #1877f2;
}

.social-icon.linkedin:hover {
    background-color: #0077b5;
}

.social-icon.github:hover {
    background-color: #333; 
}

/* Footer */
footer {
    display: flex;            
    justify-content: center; 
    align-items: center;      
    padding: 20px 0;
    background-color: #004242;
    text-align: center;   
  
}

.footer-text {
    color: #00CED1; 
   
}

@media (max-width: 1024px) {
    .navbar .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        left: 77%;
        transform: translateX(-50%);
        background-color: #004242;
        width: 40%;
        text-align: center;
        margin-top: 20px;
        border-radius: 10px;
    }

    .navbar .nav-links.active {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .nav-links li {
        padding: 10px;
        margin-left: 25px;
        
    }

    .nav-links a {
        font-size: 13px;
    }

    .nav-links a:hover {
        color: #008B8B;  
    }

    #home-section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center; 
        justify-content: center;
        text-align: center;
        background-color: #002222;
    }

    .upper-intro {
        margin-top: 30px;
        font-size: 40px; 
        font-weight: bold;
        letter-spacing: 5px;
    }

    .home h1 {
        font-size: 70px; 
        letter-spacing: 2px;
    }

    .lower-intro {
        font-size: 20px; 
        color: #FFFF;
    }

    .download-cv-btn {
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        box-shadow: 2px 2px #00CED1;
        border-radius: 5px;
        font-size: 16px;
    }

    .download-cv-btn:hover {
        cursor: pointer;
        background-color: #008B8B;
        color: #FFFF;
        box-shadow: 2px 2px #FFFF;
    }

    #about-section {
        background-color: #004242;
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row; 
    }
    
    .profile-pic-2 {
        flex: 2;
        display: flex;
        justify-content: center; 
        margin-left: 80px; 
    }
    .profile-pic-2 img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        box-shadow: -5px 5px #00CED1;
    }
    
    .personal-details {
        flex: 3; 
        margin-left: 10px;
        margin-left: 80px;
        text-align: left;
    }
    
    .personal-details h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: #00CED1;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    .personal-details p {
        color: #FFFF;
    }
    
    .personal-details h2 {
        font-size: 25px;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 20px;
        color: #00CED1;
    }
    
    .list-item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        line-height: 1.5;
    }
    
    .list-item .title h4 {
        font-weight: bold;
        color: #FFFF;
        margin-right: 20px;
    }
    
    .list-item .info p {
        font-weight: normal;
        color: #FFFF;
    }

    #project-section {
        padding: 50px 0;
        margin-bottom: -80px;
    }

    #project-section h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: #00CED1;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }

    #project-section .system {
        font-size: 25px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 30px;
    }

    .swiper {
        width: 100%;
    }

    .swiper-slide {
        padding: 20px 10px;
    }

    .content-card {
        display: flex;
        justify-content: center;
        margin: 0 10px;
        padding: 20px 20px;
        border: 2px solid #00CED1;
        background-color: #004242;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }

    .content-card:hover {
        transform: scale(1.01);
        box-shadow: 0 1px 5px #00CED1;
    
    }

    .project-box {
        text-align: center;
    }

    .project-box img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
    }

    .project-box h4 {
        font-size: 1.25rem;
        color: #00CED1;
        font-weight: bold;
        margin: 10px 0;
    }

    .project-box h5 {
        font-size: 1rem;
        color: #FFFF;
        margin-bottom: 10px;
    }

    .project-box p {
        font-size: 0.95rem;
        line-height: 1.4;
        color: #d7d7d7;
    }

    .design, .photographs {
        font-size: 25px;
        text-align: center;
        margin-top: 30px;
        color: #FFFFFF;
    }

    .contact {
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #004242;
    }

    .contact-container {
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .section-title {
        font-size: 2rem;
        margin-bottom: 40px;
        color: #00CED1;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .contact-content {
        display: flex;
        justify-content: space-between;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
        text-align: left;
        padding: 0 40px;
    }

    .info-item {
        margin-bottom: 40px;
    }

    .info-item i {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: #00CED1;
    }

    .info-item h2 {
        font-size: 1.1rem;
        margin-bottom: 8px;
        color: #00CED1;
    }

    .info-item p {
        color: #FFFFFF;
    }

    .contact-form {
        width: 100%;
        padding: 40px 50px;
        background-color: #002222;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-right: 40px;
        text-align: left;
    }

    .contact-form h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
        color: #FFFFFF;
    }

    .contact-form p {
        font-size: 12px;
        margin-bottom: 5px;
        color: #e0e0e0;
    }

    .input-field {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 1rem;
        background-color: #ffffff;
        color: #333;
        transition: border-color 0.3s;
    }

    .input-field:focus {
        border-color: #004242;
        outline: none;
    }

    .submit-btn {
        width: 100%;
        padding: 12px;
        background-color: #004242;
        color: #FFFFFF;
        border: none;
        border-radius: 8px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .submit-btn:hover {
        cursor: pointer;
        background-color: #008B8B;
        color: #FFFF;
    }
}

@media (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        left: 77%;
        transform: translateX(-50%);
        background-color: #004242;
        width: 40%;
        text-align: center;
        margin-top: 20px;
        border-radius: 10px;
    }

    .navbar .nav-links.active {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .nav-links li {
        padding: 10px;
        margin-left: 25px;
        
    }

    .nav-links a {
        font-size: 13px;
    }

    .nav-links a:hover {
        color: #008B8B;  
    }

    #home-section {
        display: flex;
        flex-direction: column-reverse; 
        align-items: center; 
        justify-content: center;
        text-align: center;
        background-color: #002222;
    }

    .upper-intro {
        margin-top: 30px;
        font-size: 40px; 
        font-weight: bold;
        letter-spacing: 5px;
    }

    .home h1 {
        font-size: 70px; 
        letter-spacing: 2px;
    }

    .lower-intro {
        font-size: 20px; 
        color: #FFFF;
    }

    .download-cv-btn {
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        box-shadow: 2px 2px #00CED1;
        border-radius: 5px;
        font-size: 16px;
    }

    .download-cv-btn:hover {
        cursor: pointer;
        background-color: #008B8B;
        color: #FFFF;
        box-shadow: 2px 2px #FFFF;
    }

    #about-section {
        flex-direction: column; 
        padding: 50px;   
    }

    .profile-pic-2 {
        width: 200px;      
        height: 200px;
        margin-right: auto;  
        margin-left: auto; 
        margin-bottom: 20px;
    }

    .personal-details {
        margin: 0;
        text-align: center;    
    }

    .personal-details h1 {
        margin-top: 10px;
    }

    .list-item {    
        width: 100%;
    }

    #project-section {
        padding: 50px 0;
        margin-bottom: -80px;
    }

    #project-section h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: #00CED1;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }

    #project-section .system {
        font-size: 25px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 30px;
    }

    .swiper {
        width: 100%;
    }

    .swiper-slide {
        padding: 20px 10px;
    }

    .content-card {
        display: flex;
        justify-content: center;
        margin: 0 10px;
        padding: 20px 20px;
        border: 2px solid #00CED1;
        background-color: #004242;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }

    .content-card:hover {
        transform: scale(1.01);
        box-shadow: 0 1px 5px #00CED1;
    
    }

    .project-box {
        text-align: center;
    }

    .project-box img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
    }

    .project-box h4 {
        font-size: 1.25rem;
        color: #00CED1;
        font-weight: bold;
        margin: 10px 0;
    }

    .project-box h5 {
        font-size: 1rem;
        color: #FFFF;
        margin-bottom: 10px;
    }

    .project-box p {
        font-size: 0.95rem;
        line-height: 1.4;
        color: #d7d7d7;
    }

    .design, .photographs {
        font-size: 25px;
        text-align: center;
        margin-top: 30px;
        color: #FFFFFF;
    }

    .contact {
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #004242;
    }

    .contact-container {
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .section-title {
        font-size: 2rem;
        margin-bottom: 40px;
        color: #00CED1;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .contact-content {
        display: flex;
        justify-content: space-between;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
        text-align: left;
        padding: 0 40px;
    }

    .info-item {
        margin-bottom: 40px;
    }

    .info-item i {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: #00CED1;
    }

    .info-item h2 {
        font-size: 1.1rem;
        margin-bottom: 8px;
        color: #00CED1;
    }

    .info-item p {
        color: #FFFFFF;
    }

    .contact-form {
        width: 100%;
        padding: 40px 50px;
        background-color: #002222;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-right: 40px;
        text-align: left;
    }

    .contact-form h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
        color: #FFFFFF;
    }

    .contact-form p {
        font-size: 12px;
        margin-bottom: 5px;
        color: #e0e0e0;
    }

    .input-field {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 1rem;
        background-color: #ffffff;
        color: #333;
        transition: border-color 0.3s;
    }

    .input-field:focus {
        border-color: #004242;
        outline: none;
    }

    .submit-btn {
        width: 100%;
        padding: 12px;
        background-color: #004242;
        color: #FFFFFF;
        border: none;
        border-radius: 8px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .submit-btn:hover {
        cursor: pointer;
        background-color: #008B8B;
        color: #FFFF;
    }
}

@media (max-width: 480px) {
    .navbar .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        left: 77%;
        transform: translateX(-50%);
        background-color: #004242;
        width: 40%;
        text-align: center;
        margin-top: 20px;
        border-radius: 10px;
    }

    .navbar .nav-links.active {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .nav-links li {
        padding: 10px;
        margin-left: 25px;
        
    }

    .nav-links a {
        font-size: 13px;
    }

    .nav-links a:hover {
        color: #008B8B;  
    }

    #home-section {
        display: flex;
        flex-direction: column-reverse; 
        align-items: center; 
        justify-content: center;
        text-align: center;
        background-color: #002222;
    }

    .profile-pic-1 img {
        width: 300px; 
        height: 300px; 
        border-radius: 50%;
        object-fit: cover; 
    }
    
    .upper-intro {
        margin-top: 30px;
        font-size: 40px; 
        font-weight: bold;
        letter-spacing: 5px;
    }

    .home h1 {
        font-size: 70px; 
        letter-spacing: 2px;
    }

    .lower-intro {
        font-size: 20px; 
        color: #FFFF;
    }

    .download-cv-btn {
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        box-shadow: 2px 2px #00CED1;
        border-radius: 5px;
        font-size: 16px;
    }

    .download-cv-btn:hover {
        cursor: pointer;
        background-color: #008B8B;
        color: #FFFF;
        box-shadow: 2px 2px #FFFF;
    }

    #about-section {
        padding: 50px;    
    }

    .profile-pic-2 img {
        width: 200px;         
        height: 200px;
        margin-bottom: 20px;   
    }

    .personal-details {
        margin: 0;
        text-align: center;    
    }

    .personal-details h1 {
        margin-top: 10px;
    }

    .list-item {    
        width: 100%;
    }

    #project-section {
        padding: 50px 0;
        margin-bottom: -80px;
    }

    #project-section h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: #00CED1;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }

    #project-section .system {
        font-size: 25px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 30px;
    }

    .swiper {
        width: 100%;
    }

    .swiper-slide {
        padding: 20px 0;
    }

    .content-card {
        display: flex;
        justify-content: center;
        margin: 0 10px;
        padding: 10px 10px;
        border: 2px solid #00CED1;
        background-color: #004242;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }

    .content-card:hover {
        transform: scale(1.01);
        box-shadow: 0 1px 5px #00CED1;
    
    }

    .project-box {
        text-align: center;
    }

    .project-box img {
        /* width: 100%;
        height: 150px; */
        width: 110px;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
        /* padding: 0 10px; */
    }

    .project-box h4 {
        font-size: 1rem;
        color: #00CED1;
        font-weight: bold;
        margin: 10px 0;
    }

    .project-box h5 {
        font-size: 0.8rem;
        color: #FFFF;
        margin-bottom: 10px;
    }

    .project-box p {
        font-size: 0.6rem;
        line-height: 1.4;
        color: #d7d7d7;
    }

    .tap-view { 
        margin-top: 0;
        font-size: 0.4rem !important;
        font-style: italic;
        color: #00CED1 !important;
    }    

    .design, .photographs {
        font-size: 25px;
        text-align: center;
        margin-top: 30px;
        color: #FFFFFF;
    }

    .contact {
        padding: 30px 20px;
        background-color: #004242;
        text-align: center;
    }

    .contact-container {
        max-width: 280px;
        margin: 0 auto;
    }

    .section-title {
        font-size: 24px;
        color: #00CED1;
        margin-bottom: 15px;
    }

    .contact-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contact-info {
        width: 100%;
    }

    .info-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;
        margin-bottom: 15px;
        color: #ffffff;
    }

    .info-item i {
        font-size: 20px;
        color: #00CED1;
    }

    .info-item h2 {
        font-size: 16px;
        margin: 5px 0;
    }

    .info-item p {
        font-size: 14px;
    }

    .contact-form {
        width: 60vh;
        margin: 0 10px;
        background-color: #002222;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .contact-form h2 {
        font-size: 18px;
        color: #ffffff;
        margin-bottom: 10px;
        text-align: center;
    }

    .contact-form p {
        font-size: 14px;
        color: #d7d7d7;
        margin-bottom: 15px;
        text-align: center;
    }

    .input-field {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        outline: none;
    }

    .submit-btn {
        width: 100%;
        padding: 10px;
        font-size: 13px;
        font-weight: bold;
        color: #ffffff;
        background-color: #004242;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .submit-btn:hover {
        background-color: #008B8B;
    }
}

@media (max-width: 320px) {
    #home-section {
        display: flex;
        flex-direction: column-reverse; 
        align-items: center; 
        justify-content: center;
        text-align: center;
        background-color: #002222;
        padding-top: 100px;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    .profile-pic-1 img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        border: 5px solid #00CED1;
        box-shadow: 0 4px 8px rgba(0, 206, 209, 0.3);
    }
    
    .upper-intro {
        margin-top: 30px;
        font-size: 30px; 
        font-weight: bold;
        letter-spacing: 5px;
    }

    .home h1 {
        font-size: 50px; 
        letter-spacing: 2px;
    }

    .lower-intro {
        font-size: 15px; 
        color: #FFFF;
    }

    .download-cv-btn {
        margin-top: 20px;
        padding: 10px 15px;
        border: none;
        box-shadow: 2px 2px #00CED1;
        border-radius: 5px;
        font-size: 12px;
    }

    .download-cv-btn:hover {
        cursor: pointer;
        background-color: #008B8B;
        color: #FFFF;
        box-shadow: 2px 2px #FFFF;
    }

    #about-section {
        background-color: #004242;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-pic-2 img {
        width: 150px; 
        height: 150px;
        object-fit: cover;
        margin-bottom: 15px;  
    }

    .personal-details {
        width: 100%;
        max-width: 280px; 
        text-align: center;
    }

    .personal-details h1 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #ffffff;
    }

    .description p {
        font-size: 14px;
        color: #d7d7d7;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .personal-info-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 14px;
        color: #ffffff;
    }

    .list-item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        /* border-bottom: 1px solid #00CED1; */
        padding-bottom: 5px;
    }

    .list-item h4 {
        font-weight: bold;
        color: #00CED1;
    }

    #project-section {
        padding: 50px 0;
        margin-bottom: -80px;
    }

    #project-section h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: #00CED1;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }

    #project-section .system {
        font-size: 25px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 30px;
    }

    .swiper {
        width: 100%;
    }

    .swiper-slide {
        padding: 20px 0;
    }

    .content-card {
        display: flex;
        justify-content: center;
        margin: 0 10px;
        padding: 10px 10px;
        border: 2px solid #00CED1;
        background-color: #004242;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }

    .content-card:hover {
        transform: scale(1.01);
        box-shadow: 0 1px 5px #00CED1;
    
    }

    .project-box {
        text-align: center;
    }

    .project-box img {
        /* width: 100%;
        height: 150px; */
        width: 120px;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
        /* padding: 0 10px; */
    }

    .project-box h4 {
        font-size: 1rem;
        color: #00CED1;
        font-weight: bold;
        margin: 10px 0;
    }

    .project-box h5 {
        font-size: 0.8rem;
        color: #FFFF;
        margin-bottom: 10px;
    }

    .project-box p {
        font-size: 0.6rem;
        line-height: 1.4;
        color: #d7d7d7;
    }

    .tap-view { 
        margin-top: 0;
        font-size: 0.4rem !important;
        font-style: italic;
        color: #00CED1 !important;
    }    

    .design, .photographs {
        font-size: 25px;
        text-align: center;
        margin-top: 30px;
        color: #FFFFFF;
    }

    .contact {
        padding: 30px 20px;
        background-color: #004242;
        text-align: center;
    }

    .contact-container {
        max-width: 280px;
        margin: 0 auto;
    }

    .section-title {
        font-size: 24px;
        color: #00CED1;
        margin-bottom: 15px;
    }

    .contact-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contact-info {
        width: 100%;
    }

    .info-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-bottom: 15px;
        color: #ffffff;
    }

    .info-item i {
        font-size: 20px;
        color: #00CED1;
    }

    .info-item h2 {
        font-size: 16px;
        margin: 5px 0;
    }

    .info-item p {
        font-size: 14px;
    }
    
    .contact-form {
        width: 100%;
        max-width: 280px;
        background-color: #002222;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .contact-form h2 {
        font-size: 18px;
        color: #ffffff;
        margin-bottom: 10px;
        text-align: center;
    }

    .contact-form p {
        font-size: 14px;
        color: #d7d7d7;
        margin-bottom: 15px;
        text-align: center;
    }

    .input-field {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        outline: none;
    }

    .submit-btn {
        width: 100%;
        padding: 10px;
        font-size: 13px;
        font-weight: bold;
        color: #ffffff;
        background-color: #004242;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .submit-btn:hover {
        background-color: #008B8B;
    }

    #skills-section {
        padding: 50px 0;
        color: #00CED1;
    }
    
    #skills-section .skills-heading {
        font-size: 2rem;
        margin-bottom: 20px;
        color: #00CED1;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }
    
    .skill-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }
    
    .skill-item {
        background-color: #003333;
        border: 2px solid #00CED1;
        padding: 20px 5px;
        border-radius: 10px;
        margin: 10px 5px;
        text-align: center;
        display: inline-block;
        width: 200px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .skill-item:hover {
        transform: scale(1.01);
        box-shadow: 0 1px 5px #00CED1;
    }
    
    .skill-item i {
        font-size: 20px;
        margin-bottom: 10px;
        color: #00CED1;
    }
    
    .skill-item h3 {
        font-size: 10px;
        color: #FFFFFF;
    }

    #social-links {
        padding: 50px 0;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .social-links-container {
        max-width: 1000px;
        margin: 0 auto;
    }
    
    #social-links h2 {
        font-size: 1.2rem;
        margin-bottom: 20px;
        color: #00CED1;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }
    
    .social-icon {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        background-color: #e0e0e0;
        color: #333;
        font-size: 0.8rem;
        font-weight: 500;
        border-radius: 25px;
        text-decoration: none;
        transition: all 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .social-icon i {
        margin-right: 10px;
        font-size: 0.8rem;
        transition: transform 0.3s ease;
    }
    
    .social-icon:hover {
        color: #FFFFFF;
        transform: translateY(-5px);
    }
    
    .social-icon:hover i {
        transform: rotate(15deg);
    }
    
    .social-icon.instagram:hover {
        background-color: #e1306c; 
    }
    
    .social-icon.twitter:hover {
        background-color: #14171A;
    }
    
    .social-icon.facebook:hover {
        background-color: #1877f2;
    }
    
    .social-icon.linkedin:hover {
        background-color: #0077b5;
    }
    
    .social-icon.github:hover {
        background-color: #333; 
    }

    footer {
        display: flex;            
        justify-content: center; 
        align-items: center;      
        padding: 20px 0;
        background-color: #004242;
        text-align: center;   
      
    }
    
    .footer-text {
        color: #00CED1; 
        font-size: 13px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.modal-content {
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover, .close:focus {
    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
}